body {
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
    background-color: white;
}

form {
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 1px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 0;
}

button {
    margin-top: 10px;
    padding: 6px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}